.App {
  text-align: center;
  margin: none;
  padding: none;
}

.App-header-summary {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header-home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.Graph-container {
  width: 75%;
  height: 75%;
}

.Graph-container-2 {
  width: 75%;
  height: 70%;
}

.School-search {
  max-width: 600px;
  height: 60px;
  width: 100%;
  font-size: 25px;
}
