.App {
  text-align: center;
  margin: none;
  padding: none;
}

.App-header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Graph-container {
  width: 75%;
  height: 75%;
}
